{% capture self_introduction -%}
<a href="https://quartet-communications.com/" target="_blank">株式会社カルテットコミュニケーションズ</a>CTO。Webプログラマー兼経営者。リスティング広告運用支援ツールサービス「<a href="https://lisket.jp" target="_blank">Lisket</a>」を立ち上げ、現在も開発・運営に注力している。ものを作ることと効率的合理的な価値観が好き。コミュニティ活動にも積極的で、<a href="https://nagoyaphp.connpass.com/" target="_blank">Nagoya.php</a>、<a href="https://symfony.connpass.com/" target="_blank">Symfony Meetup</a>等の勉強会を運営。<a href="https://schoo.jp/teacher/2288" target="_blank">Schoo講師</a>。著書に「<a href="https://www.amazon.co.jp/dp/4774178039" target="_blank">基本からしっかり学ぶ Symfony2入門</a>」（副著）。
{%- endcapture %}

<div class="self-introduction">

    <div class="for-sidebar">
        <div class="text-center">
            <h1 class="mt-4 mb-3">金本 貴志<br><small>aka たつきち</small></h1>
            <p class="text-justify">{{ self_introduction }}</p>
        </div>
    </div>

    <div class="for-content">
        <h1>金本 貴志 <small class="text-muted" style="font-size:0.5em">aka たつきち</small></h1>
        <p>{{ self_introduction }}</p>
    </div>

</div>
