{% capture self_introduction -%}
株式会社カルテットコミュニケーションズCTO。Webプログラマー兼経営者。リスティング広告運用支援ツールサービス「Lisket」を立ち上げ、現在も開発・運営に注力している。ものを作ることと効率的合理的なものが好き。コミュニティ活動にも積極的で、Nagoya.php、Symfony Meetup等の勉強会を運営。著書に「基本からしっかり学ぶ Symfony2入門」（副著）。
{%- endcapture %}

<div class="self-introduction">

    <div class="for-sidebar">
        <div class="text-center">
            <h1 class="mt-4 mb-3">金本 貴志<br><small>aka たつきち</small></h1>
            <p class="text-justify">{{ self_introduction }}</p>
        </div>
    </div>

    <div class="for-content">
        <h1>金本 貴志 <small class="text-muted" style="font-size:0.5em">aka たつきち</small></h1>
        <p>{{ self_introduction }}</p>
    </div>

</div>
