@import "variables";

html {
    // font-size of html will be the base font-size because of "$font-size-base:1rem"
    font-size: 14px;

    // for beauty in Japanese env
    &[lang="ja"] body {
        font-family: "Lato", Emoji, Arial, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
        color: $base-font-color;
    }

    * {
        letter-spacing: 0.03em;
    }
}

#container {

    width: 100%;
    overflow: hidden;

    #sidebar {
        float: left;
        height: 100vh;

        // "position:sticky" doesn't work well if any ancestor has "position:hidden" (bug)
        //position: sticky;
        position: fixed;
        top: 0;
        overflow: scroll;

        margin-left: 0;
        z-index: 9999;

        // @see http://jxnblk.com/shade/?base=%23B8F2FF&hueShift=180&saturate=0&lighten=0.08
        background-image: linear-gradient(180deg, #FFDAD1, #FF9F8A);

        h1 {
            font-size: 1.2rem;
            font-weight: bolder;
        }

        a {
            color: $base-font-color;
        }
    }

    #content {
        padding: 20px;
        position: relative;

        .darkener {
            content: '';
            background-color: rgba($dark ,0.5);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9998;
            cursor: pointer;
            display: none;
        }

        article {
            min-height: 80vh;
        }
    }

    // change sidebar width according to screen size
    $sidebar-width: $grid-breakpoints-md * 0.3;
    #sidebar {
        width: $sidebar-width;
        padding: 0 4rem;
    }
    #content {
        padding-left: $sidebar-width + 20px;
    }
    @media(screen and min-width: $grid-breakpoints-lg) {
        $sidebar-width: $grid-breakpoints-md * 0.5;
        #sidebar {
            width: $sidebar-width;
            padding: 0 4rem;
        }
        #content {
            padding-left: $sidebar-width + 20px;
        }
    }
    @media(screen and min-width: $grid-breakpoints-xl) {
        $sidebar-width: $grid-breakpoints-md * 0.7;
        #sidebar {
            width: $sidebar-width;
            padding: 0 6rem;
        }
        #content {
            padding-left: $sidebar-width + 20px;
        }
    }

    // hide sidebar on small screen
    #content header {
        display: none;
    }
    @media(screen and max-width: $grid-breakpoints-md - 1px) {
        $sidebar-width: $grid-breakpoints-md * 0.3;
        #sidebar {
            margin-left: -1 * $sidebar-width;
        }
        #content {
            padding: 0;
            padding-top: 40px;
            box-sizing: content-box !important;

            header {
                display: block;
            }
        }
    }

    // switch position of self introduction
    #sidebar .self-introduction .for-content,
    #content .self-introduction .for-sidebar {
        display: none;
    }
    .self-introduction .for-content {
        display: none;
    }
    @media(screen and max-width: $grid-breakpoints-lg - 1) {
        .self-introduction .for-sidebar {
            display: none;
        }
        .self-introduction .for-content {
            display: block;
        }
    }
}
